// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100%;
}

.table-sticky-header {
    thead tr:nth-child(1) th {
        position: sticky;
        top: 0;
        z-index: 10;
        background: var(--bs-body-bg) !important;
    }
}

.top-3-em{
    top: 2.7em !important;
}

.w-12-em{
    width: 12em !important;
}

.w-14-em{
    width: 14em !important;
}

.w-18-em{
    width: 18em !important;
}

.w-6-em{
    width: 6em !important;
}

.w-8-em{
    width: 8em !important;
}

.w-0{
    width: 0 !important;
}
